<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Editar Aula</h5>
  <a
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modalRef.close()"
  ></a>
</div>
<div class="modal-body">
  Grupo:
  <input class="form-control" type="text" [(ngModel)]="aula.grupo" name="grupo" autofocus>
  Año:
  <input class="form-control" type="text" [(ngModel)]="ano" name="ano">
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
    Cerrar
  </button>
  <button type="button" class="btn btn-primary" (click)="close()">Aceptar</button>
</div>
