<div ngbAccordion>
  <div ngbAccordionItem [collapsed]="false" *ngFor="let punto of puntos|keyvalue">
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton>
        <h4>{{ punto.key }}</h4>
      </button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template *ngFor="let point of punto.value">
          {{point}}
        <ul>
            <li>
              <p>{{ point.tarea.id }}</p>
              <p>{{ point.tarea.nombre }}</p>
            </li>
          </ul>
        </ng-template>
      </div>
    </div>
  </div>
</div>
