<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">{{action}} {{name}}</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modalRef.close(false)"
  ></button>
</div>
<div class="modal-body">Seguro que quieres {{action?.toLowerCase()}}: {{option?.nombre}}?</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="close(false)">
    Cerrar
  </button>
  <button type="button" class="btn btn-primary" (click)="close(true)">Aceptar</button>
</div>
