<div class="row">
  <div class="col me-auto">
    <a [routerLink]="['../']">Tareas</a>
  </div>
</div>
<div class="row">
  <div class="col me-auto"><h1>Usuarios</h1></div>
</div>
<div class="accordion accordion-flush" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
              aria-controls="panelsStayOpen-collapseOne">
        <h2>Profesores</h2>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
      <div class="accordion-body px-0">
        <div class="table-responsive">
          <app-profesor-profesor></app-profesor-profesor>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
              aria-controls="panelsStayOpen-collapseTwo">
        <h2>Estudiantes</h2>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
      <div class="accordion-body px-0">
        <div class="table-responsive">
          <app-estudiante-profesor></app-estudiante-profesor>
        </div>
      </div>
    </div>
  </div>
</div>
