<div class="container ">
  <div class="row">
    <div class="col me-auto">
      <h1>{{aula.clase.nombre}} {{aula.grupo}} {{getYear()}}</h1>
    </div>
  </div>
  <div class="accordion" id="accordion">
    <div class="accordion-item" *ngFor="let tema of aula.temas">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#tema'+tema.id" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          <h4 class="me-auto">
          {{tema.nombre}}
          </h4>
          <div class="me-0">
            <a class="p-1" (click)="openEditarTemaModal(tema)"> <i class="fa-solid fa-pen-to-square"></i></a>
            <a class="p-1 text-danger" (click)="openEliminarTemaModal(tema)">  <i class="text-danger fa-solid fa-x" ></i></a>
          </div>
        </button>
      </h2>
      <div [id]="'tema'+tema.id" class="accordion-collapse collapse show">
        <div class="accordion-body">
          <table class="table table-striped">
            <tbody>
            <tr *ngFor="let tarea of tema.tareas">
              <td class="row">
                <div class="col me-auto">{{tarea.nombre}}</div>
                <div class="col ">
                  <a class="p-1" (click)="openEditarTemaModal(tema)"> <i class="fa-solid fa-pen-to-square"></i></a>
                  <a class="p-1 text-danger" (click)="openEliminarTemaModal(tema)">  <i class="text-danger fa-solid fa-x" ></i></a>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <div>
            <form action="" (ngSubmit)="crearTarea(tema.id)">
              <div class="input-group">
                <input class="form-control" type="text" name="nombre" [(ngModel)]="tareaACrear.nombre" placeholder="NombreTarea" aria-label="nombreTarea">
                <button class="btn btn-outline-success" type="submit">Crear</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <form action="" (ngSubmit)="crearTema()">
      <div class="input-group">
        <input class="form-control" type="text" name="nombre" [(ngModel)]="temaACrear.nombre" placeholder="NombreTema" aria-label="nombreTema">
        <button class="btn btn-outline-success" type="submit">Crear</button>
      </div>
    </form>
  </div>
</div>

