<ul class="nav me-auto">
  <li class="nav-item">
    <a class="nav-link text-success" (click)="changeLevel(1)" >Facil</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="changeLevel(2)" [ngClass]="nivelMax<2?'disabled':'text-warning'">Intermedio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="changeLevel(3)" [ngClass]="nivelMax<3?'disabled':'text-danger'">Dificil</a>
  </li>
</ul>
<div>
  <h4>
    Nivel:{{nivel==1?"Facil":nivel==2?"Intermedio":nivel==3?"Dificil":"Hola"}}
  </h4>
</div>
  <app-fase [nivel]="nivel" [idTarea]="idTarea" (send)="cancelar()" *ngIf="idTarea!=0"></app-fase>
<button class="btn btn-primary mx-2" (click)="cancelar()">Cancelar</button>
<button class="btn btn-primary" (click)="entregar()">Guardar</button>
