<div class="modal-header">
  <h4 class="modal-title">Add estudiante</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
  <ng-template #sort>
    <i class="fas fa-sort"></i>
  </ng-template>
  <div class="col">
    <form class="d-flex" role="search">
      <input class="form-control me-2" [(ngModel)]="searchTerm" name="searchTerm" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" (click)="pageChanged()" type="submit">Search</button>
    </form>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th></th>
      <th class="text-nowrap" (click)="onSort('nombre')">
        Nombre <i *ngIf="sortColumn === 'nombre';else sort" class="fas" [ngClass]="sortDirection=='asc'?'fa-sort-up':'fa-sort-down'"></i>
      </th>
      <th class="text-nowrap" (click)="onSort('apellidos')">
        Apellidos <i *ngIf="sortColumn === 'apellidos';else sort" class="fas" [ngClass]="sortDirection=='asc'?'fa-sort-up':'fa-sort-down'"></i>
      </th>
      <th class="text-nowrap" (click)="onSort('email')">
        Correo <i *ngIf="sortColumn === 'email';else sort" class="fas" [ngClass]="sortDirection=='asc'?'fa-sort-up':'fa-sort-down'" ></i>
      </th>
      <th class="text-nowrap" (click)="onSort('aula')">
        Aula <i *ngIf="sortColumn === 'aula';else sort" class="fas" [ngClass]="sortDirection=='asc'?'fa-sort-up':'fa-sort-down'" ></i>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      Selected
    </tr>
    <tr *ngFor="let estudiante of added">
      <td><input type="checkbox" disabled></td>
      <td class="col overflow-hidden">{{estudiante.nombre}}</td>
      <td class="col overflow-hidden">{{estudiante.apellidos}}</td>
      <td class="col overflow-hidden">{{estudiante.email}}</td>
      <td class="col overflow-hidden">{{estudiante.aula}}</td>
    </tr>
    <tr *ngFor="let estudiante of selected">
      <td><input type="checkbox" [disabled]="isAdded(estudiante.id)" [checked]="isSelected(estudiante.id)" (change)="toggleSelection($event,estudiante)"></td>
      <td class="col overflow-hidden">{{estudiante.nombre}}</td>
      <td class="col overflow-hidden">{{estudiante.apellidos}}</td>
      <td class="col overflow-hidden">{{estudiante.email}}</td>
      <td class="col overflow-hidden">{{estudiante.aula}}</td>
    </tr>
    <tr>
      Estudiantes
    </tr>
    <tr *ngFor="let estudiante of estudiantes">
      <td><input type="checkbox" [checked]="isSelected(estudiante.id)" [disabled]="isAdded(estudiante.id)" (change)="toggleSelection($event,estudiante)"></td>
      <td class="col overflow-hidden">{{estudiante.nombre}}</td>
      <td class="col overflow-hidden">{{estudiante.apellidos}}</td>
      <td class="col overflow-hidden">{{estudiante.email}}</td>
      <td class="col overflow-hidden">{{estudiante.aula}}</td>
    </tr>
    </tbody>
  </table>
  <ngb-pagination *ngIf="collectionSize>estudiantes.length" [collectionSize]="(collectionSize)!" [(page)]="page" [pageSize]="pageSize" (pageChange)="pageChanged()"/>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">
    Cerrar
  </button>
  <button type="button" class="btn btn-danger" (click)="guardar()">Guardar</button>
</div>
