<div class="container ">
    <div class="row">
        <div class="col">
            <h1>Cursos</h1>
        </div>
    </div>
        <div class="row g-2 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4" >
            <div class="col position-relative" *ngFor="let curso of cursos"><a class="w-100 btn btn-primary text-start" href="clase.html" >{{curso.nombre}}</a><a
                    class="position-absolute top-50 end-0 translate-middle bg-white rounded-circle px-2 py-0 btn btn-sm"
                    data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><i
                    class="fa-solid fa-ellipsis-vertical"></i></a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Editar</a></li>
                    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#borrar" (click)="borrar(curso)" href="#">Eliminar</a></li>
                </ul>
            </div>
            <div class="col">
                <form action="" (ngSubmit)="crearCurso()">
                    <div class="input-group">
                        <input class="form-control" type="text" name="nombreCurso" [(ngModel)]="nombreCurso" placeholder="NombreCurso" aria-label="NombreCurso">
                        <button class="btn btn-outline-success" type="submit">Crear</button>
                    </div>
                </form>
                <div *ngIf="existeCurso" class="alert alert-danger mt-2 position-absolute" role="alert">
                    ¡El curso ya existe!
                </div>
            </div>
        </div>

    <!-- Modal -->
    <div class="modal fade" id="borrar" tabadmin="-1" aria-labelledby="borrarLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="borrarLabel">Borrar curso</h1>
                    <button type="button" class="btn z-3-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Seguro que quieres eliminar la clase: {{cursoABorrar.nombre}}?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn z-3 btn z-3-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" data-bs-dismiss="modal" class="btn btn-primary" (click)="eliminarCurso(cursoABorrar.id)">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
    </div>
