<div class="row">
  <div class="col me-auto">
    <h1>{{tarea.nombre}}</h1>
  </div>
</div>
<ul class="nav me-auto">
  <li class="nav-item">
    <a class="nav-link text-success" (click)="show=0">Facil</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-warning" (click)="show=1">Intermedio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-danger" (click)="show=2">Dificil</a>
  </li>
</ul>
<div ngbAccordion>
  <div ngbAccordionItem [collapsed]="false" *ngFor="let pregunta of tarea.fases[show].preguntas; let i=index">
    <h2 ngbAccordionHeader >
      <div class="position-relative">
        <button ngbAccordionButton>
          <h4 class="me-auto">
            Pregunta {{i+1}}
          </h4>
        </button>
        <i class="fa-solid fa-x position-absolute translate-middle top-50 end-0 z-3 p-1 fs-4 text-danger" (click)="openEliminarModal(i)"></i>
      </div>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <textarea class="form-control" id="enunciado" name="enunciado" [(ngModel)]="pregunta.enunciado" placeholder="enunciado" aria-label="enunciado" required></textarea>
          <ol>
            <li *ngFor="let respuesta of pregunta.respuestas; let ir=index">
              <div class="input-group">
                <textarea class="form-control me-2" name="respuesta" [(ngModel)]="respuesta.respuesta" placeholder="respuesta" aria-label="respuesta" required></textarea>
                <div>
                  <div class="col-12">
                    <input class="form-check-input" type="checkbox" name="correcta" [(ngModel)]="respuesta.correcta" required>
                  </div>
                  <div class="col-12">
                     <i class="text-danger fa-solid fa-trash p-1 fs-5" (click)="EliminarRespuesta(i,ir)"></i>
                  </div>
                </div>
              </div>
            </li>
            <li>
               <button class="btn btn-primary" (click)="nuevaRespuesta(pregunta)">Nueva respuesta</button>
            </li>
          </ol>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="justify-content-between d-flex my-5">
    <button class="btn btn-primary" (click)="nuevaPregunta()">Nueva Pregunta</button>
    <div>
      <button class="btn btn-primary mx-2" (click)="cancelar()">Cancelar</button>
      <button class="btn btn-primary" (click)="guardar()">Guardar</button>
    </div>
  </div>
</div>

