<h2 class="accordion-header">
  <div class="position-relative">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#tema'+tema.id">
      <h4 class="me-auto">
        {{tema.nombre}}
      </h4>
    </button>
    <div class="position-absolute translate-middle top-50 end-0 z-3 ">
      <a class="p-1 fs-4" (click)="openImportModal()"><i class="fa-solid fa-download"></i></a>
      <a class="p-1 fs-4" (click)="openEditarModal(tema)"><i class="fa-solid fa-pen-to-square"></i></a>
      <a class="p-1 fs-4 text-danger" (click)="openEliminarModal(tema)"><i class="text-danger fa-solid fa-x" ></i></a>
    </div>
  </div>
</h2>
<div [id]="'tema'+tema.id" class="accordion-collapse collapse">
  <div class="accordion-body">
    <table class="table table-striped">
      <tbody>
      <tr *ngFor="let tarea of tema.tareas" class="row">
        <app-tarea [tarea]="tarea" (delete)="deleteTarea($event)"></app-tarea>
      </tr>
      </tbody>
    </table>
    <div>
      <form action="" (ngSubmit)="crearTarea()">
        <div class="input-group">
          <input class="form-control" type="text" name="nombre" [(ngModel)]="tareaACrear" placeholder="NombreTarea" aria-label="nombreTarea">
          <button class="btn btn-outline-success" type="submit">Crear</button>
        </div>
      </form>
    </div>
  </div>
</div>
