
<div class="col">
  <form class="d-flex" role="search">
    <input class="form-control me-2" [(ngModel)]="searchTerm" name="searchTerm" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" (click)="pageChanged()" type="submit">Search</button>
  </form>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col" (click)="onSort('nombre')">
      Nombre <i *ngIf="sortColumn === 'nombre';else sort" class="fas" [ngClass]="sortDirection=='asc'?'fa-sort-up':'fa-sort-down'"></i>
    </th>

    <th scope="col" (click)="onSort('apellido1')">
      Apellidos <i *ngIf="sortColumn === 'apellido1';else sort" class="fas" [ngClass]="sortDirection=='asc'?'fa-sort-up':'fa-sort-down'"></i>
    </th>
    <th scope="col" (click)="onSort('email')">
      Correo <i *ngIf="sortColumn === 'email';else sort" class="fas" [ngClass]="sortDirection=='asc'?'fa-sort-up':'fa-sort-down'" ></i>
    </th>
    <ng-template #sort>
      <i class="fas fa-sort"></i>
    </ng-template>
      <th class="text-end">+</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let profesor of profesores">
      <td class="col overflow-hidden">{{profesor.nombre}}</td>
        <td class="col overflow-hidden">{{profesor.apellidos}}</td>
        <td class="col overflow-hidden">{{profesor.email}}</td>
        <td class="col">
          <div class="row justify-content-end">
            <div class="col-1">
              <a>
                <i class="fa-solid fa-pen-to-square"></i>
              </a>
            </div>
            <div class="col-1">
              <a (click)="cambiarEstado(profesor)">
                <i class="fa-solid" [ngClass]="profesor.blocked?'fa-lock':'fa-lock-open'"></i>
              </a>
            </div>
            <div class="col-1">
              <a (click)="borrar(profesor)" class="text-danger">x</a>
            </div>
          </div>
        </td>
    </tr>
  </tbody>
</table>
<div class="modal fade" id="borrar" aria-labelledby="borrarLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="borrarLabel">Borrar Asignatura</h1>
        <button type="button" class="btn z-3-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Seguro que quieres eliminar la clase: {{profesorABorrar.nombre}}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn z-3 btn z-3-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" data-bs-dismiss="modal" class="btn btn-primary" (click)="eliminarProfesor(profesorABorrar.id)">Eliminar</button>
      </div>
    </div>
  </div>
</div>
<ngb-pagination *ngIf="collectionSize>profesores.length" [collectionSize]="(collectionSize)!" [(page)]="page" [pageSize]="pageSize" (pageChange)="pageChanged()"/>
