<div class="container ">
  <div class="row">
    <div class="col">
      <h1>Clases</h1>
    </div>
  </div>
  <div class="row my-1">
    <div class="col col-md-8">
      <form action="">
        <div class="input-group">
          <select class="form-select" aria-label="Curso" name="cursoSeleccionado" [(ngModel)]="cursoSeleccionado" (ngModelChange)="filtrarClases()">
            <option value="-1" selected>Selecciona un curso</option>
            <option *ngFor="let curso of cursos" [value]="curso.id">{{curso.nombre}}</option>
          </select>
          <select class="form-select" aria-label="Asignatura" name="asignaturaSeleccionado" [(ngModel)]="asignaturaSeleccionado" (ngModelChange)="filtrarClases()">
            <option value="-1" selected>Selecciona una asignatura</option>
            <option *ngFor="let asignatura of asignaturas" [value]="asignatura.id">{{asignatura.nombre}}</option>
          </select>
          <button class="btn btn-outline-success" type="submit" (click)="crearClase()" [disabled]="cursoSeleccionado==-1 || asignaturaSeleccionado==-1 || clases.length > 0">Crear</button>
        </div>
      </form>
    </div>
    <div class="row g-2 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4" >
      <div class="col position-relative" *ngFor="let clase of clases"><a class="w-100 btn btn-primary text-start" href="clase.html" >{{clase.nombre}}</a><a
              class="position-absolute top-50 end-0 translate-middle bg-white rounded-circle px-2 py-0 btn btn-sm"
              data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><i
              class="fa-solid fa-ellipsis-vertical"></i></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Editar</a></li>
          <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#borrar" (click)="borrar(clase)" href="#">Eliminar</a></li>
        </ul>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="borrar" tabadmin="-1" aria-labelledby="borrarLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="borrarLabel">Borrar clase</h1>
            <button type="button" class="btn z-3-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Seguro que quieres eliminar la clase: {{claseAborrar.nombre}}?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn z-3 btn z-3-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" data-bs-dismiss="modal" class="btn btn-primary" (click)="eliminarClase(claseAborrar.id)">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
