
<div class="col">
  <form action="">
    <div>
      <label>Aulas</label>
      <select class="form-select" aria-label="Aula" name="aulasSeleccionados" [(ngModel)]="aulasSeleccionados">
        <option *ngFor="let aula of aulas" [value]="aula.id">{{aula.nombre}}</option>
      </select>
    </div>
    <div>
      <label>Profesores</label>
      <select class="form-select" aria-label="Profesor" name="profesoresSeleccionados" [(ngModel)]="profesoresSeleccionados">
        <option *ngFor="let profesor of profesores" [value]="profesor.id">{{profesor.nombre}}</option>
      </select>
    </div>
    <div>
      <button class="btn btn-outline-success" (click)="filter()">Buscar</button>
    </div>
  </form>
  <form action="">
    <div class="input-group">
      <label>Tema</label>
      <select class="form-select" aria-label="Tema" name="temaSeleccionado">
        <option *ngFor="let tema of temas" [value]="tema.id">{{tema.nombre}}</option>
      </select>
    </div>
  </form>
</div>
