<div class="container ">
  <div class="row">
    <div class="col me-auto">
      <h1>Aulas</h1>
    </div>
  </div>
  <div class="row g-2 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4" >
    <div class="btn-group col" *ngFor="let aula of aulas">
      <button class="w-100 btn btn-primary text-start" [routerLink]="['/aulas',aula.id]">
        {{aula.nombre}}
      </button>
      <button class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-ellipsis-vertical"></i>
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" (click)="openEditarModal(aula)">Editar</a></li>
        <li><a class="dropdown-item text-danger" (click)="openEliminarModal(aula)">Eliminar</a></li>
      </ul>
    </div>
    <div class="col">
      <form action="" (ngSubmit)="crearAula()">
        <div class="input-group">
          <select class="form-select" aria-label="Aula" name="clase" [(ngModel)]="aula.clase.id">
            <option value="-1" selected>Selecciona una clase</option>
            <option *ngFor="let clase of clases" [value]="clase.id">{{clase.nombre}}</option>
          </select>
          <input class="form-control" type="text" name="grupo" [(ngModel)]="aula.grupo" placeholder="Grupo" aria-label="Grupo">
          <button class="btn btn-outline-success" type="submit">Crear</button>
        </div>
      </form>
    </div>
  </div>
</div>
