<div class="row">
  <div class="col me-auto"><h1>Profesores</h1></div>
</div>
<div class="col">
  <form class="d-flex" role="search">
    <input class="form-control me-2" [(ngModel)]="searchTerm" name="searchTerm" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" (click)="getProfesores()" type="submit">Search</button>
  </form>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th class="text-nowrap" (click)="onSort('nombre')">
      Nombre <i *ngIf="sortColumn === 'nombre';else sort" class="fas" [ngClass]="sortDirection=='asc'?'fa-sort-up':'fa-sort-down'"></i>
    </th>
    <th class="text-nowrap" (click)="onSort('apellidos')">
      Apellidos <i *ngIf="sortColumn === 'apellidos';else sort" class="fas" [ngClass]="sortDirection=='asc'?'fa-sort-up':'fa-sort-down'"></i>
    </th>
    <th class="text-nowrap" (click)="onSort('email')">
      Correo <i *ngIf="sortColumn === 'email';else sort" class="fas" [ngClass]="sortDirection=='asc'?'fa-sort-up':'fa-sort-down'" ></i>
    </th>
    <th class="text-end"><a (click)="abrirModalAnadir()"><i class="fa-solid fa-plus"></i></a></th>
    <ng-template #sort>
      <i class="fas fa-sort"></i>
    </ng-template>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let profesor of profesores">
      <td class="col overflow-hidden">{{profesor.nombre}}</td>
      <td class="col overflow-hidden">{{profesor.apellidos}}</td>
      <td class="col overflow-hidden">{{profesor.email}}</td>
      <td class="col">
        <div class="col text-end text-nowrap">
          <a class="p-1" (click)="openModal(profesor)">
            <i class="text-danger fa-solid fa-minus"></i>
          </a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
